<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<form method="post" action="/">
	<div>
		<label>Quote*</label>
		<div>
			<input type="text" name="quote" required>
		</div>
	</div>

	<div>
		<label>Author*</label>
		<div>
			<input type="text" name="author" required>
		</div>
	</div>

	<div>
		<label>Age</label>
		<div>
			<input type="number" name="age">
		</div>
	</div>

	<div>
		<input type="submit">
	</div>
</form>
 

</body>
</html>