<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <h1>Sunflower ($20)</h1>
    <img src="https://cdn.atwilltech.com/flowerdatabase/_/95044-sunflower-bouquet-616e8bf5033752.65492220.425.jpg">
    <li><a href="/cart">Add to Cart</a></li>
    <h2>Links</h2>
    <li><a href="/product">Product</a></li>
    <li><a href="/cart">Cart</a></li>
</body>
</html>
